<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Inicio</h1>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
      <%= render partial: 'layouts/notifications' %>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="wi wi-thermometer fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="init-temp" class="huge">-- 째F</div>
                        <div id="init-temp-control">--</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Temperatura Inicial</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="wi wi-thermometer fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="mid-temp" class="huge">-- 째F</div>
                        <div id="mid-temp-control">--</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Temperatura Intermedia</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-orange">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="wi wi-thermometer fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="final-temp" class="huge">-- 째F</div>
                        <div id="final-temp-control">--</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Temperatura Final</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="wi wi-thermometer fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="vapor-temp" class="huge">-- 째F</div>
                        <div id="vapor-temp-control">--</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Temperatura Vapor</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
