<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @alarm_type.description %>
</p>

<%= link_to 'Edit', edit_alarm_type_path(@alarm_type) %> |
<%= link_to 'Back', alarm_types_path %>
