<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash.each do |type, message| %>
  <% if message.is_a?(String) and message.present? %>
    <div class="alert <%= bootstrap_alert_for(type) %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, message, :id => type %>
    </div>
  <% end %>
<% end %>