<li>
  <a class="active" href="<%= root_path %>"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
</li>
<li>
    <a href="<%= reports_path %>"><i class="fa fa-bar-chart-o fa-fw"></i> Reportes</a>
</li>